body {
  margin: 0;
  box-sizing: border-box;
  background-color: lightgray;
  overflow-x: hidden;
  overflow-y: hidden;
}
:root {
  --map_kit: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
  --font: whitesmoke;
}
.mapa {
  filter: var(--map_kit);
}
#all {
  background-color: rgba(0, 0, 0, 0.878);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: system-ui;
  height: 100vh;
  width: 100vw;
}
#main {
  z-index: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  visibility: hidden;
}
#map {
  border: 7px solid var(--font);
  border-radius: 15px;
  width: 85vw;
  height: 75vh;
}
#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  position: absolute;
}
#title {
  font-size: 50px;
  letter-spacing: 3px;
  color: var(--font);
}
.start_btn {
  height: 60px;
  width: 250px;
  border-radius: 10px;
  font-size: 22px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--font);
  border: 5px solid #37b8dd;
  font-family: system-ui;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.start_btn:hover {
  background-color: var(--font);
}
#pytanie {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 190px;
  flex-direction: row;
}
#opis {
  font-size: 25px;
  text-align: center;
  color: var(--font);
}
.serca {
  font-size: 45px;
  color: var(--font);
}
.punkty {
  font-size: 35px;
  color: var(--font);
}
.wylosowany_kraj {
  font-size: 30px;
  color: var(--font);
}
/* glowne rzeczy do okienek */
.inside_popup_1 {
  background-color: rgba(0, 0, 0, 0.864);
  color: white;
  border-radius: 20px;
  border: 6px solid #37b8dd;
  font-family: system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.popup_btn {
  font-family: system-ui;
  font-size: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  cursor: pointer;
  border: 3.6px solid black;
  box-shadow: 0px 0px 1px 1px;
}
.ok_btn {
  background-color: lightgreen;
}
/*popup alert okno*/
#alert_okno {
  background-color: #0000;
  border: 0px;
}
/* game over popup */
#game_over_okno {
  background-color: #0000;
  border: 0px;
  position: relative;
}
.tryby_gry_game_over {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.btns_game_over {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 100px;
  position: absolute;
  bottom: 180px;
}
.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 100px;
  position: absolute;
  top: 290px;
  font-size: 20px;
}
#h1_game_over {
  position: absolute;
  top: 60px;
  font-size: 60px;
}
