body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
:root {
  /* kit do ciemnego wygladu mapy */
  --map_kit: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
  /* --blue: #37b8dd; */
  --white: whitesmoke;
  --bg_color: rgba(0, 0, 0, 0.884);
  --hover: #feff01;
}
/* ogromne divy */
.mapa {
  filter: var(--map_kit);
}
#all {
  background-color: var(--bg_color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: system-ui;
  height: 100vh;
  width: 100vw;
}
#main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  visibility: hidden;
}
#map {
  border: 8px solid var(--white);
  border-radius: 15px;
  width: 85vw;
  height: 75vh;
}
#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  width: 50vw;
  position: absolute;
}
/* ekran startowy, powitanie */
#opis {
  font-size: 25px;
  text-align: center;
  color: var(--white);
}
#title {
  font-size: 90px;
  letter-spacing: 4px;
  color: var(--white);
  margin: 0px;
}
/* wyglad wiekszosci guzikow */
.start_btn {
  height: 60px;
  width: 250px;
  border-radius: 10px;
  font-size: 22px;
  padding: 5px;
  cursor: pointer;
  background-color: #0000;
  color: var(--white);
  border: 5px solid var(--white);
  font-family: system-ui;
  font-weight: bold;
  transition: color 0.4s ease, border 0.4s ease;
}
.start_btn:hover {
  color: var(--hover);
  border: 5px solid var(--hover);
}
/* wyglad div "pytanie" czyli statystyki */
#pytanie {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 190px;
  flex-direction: row;
}
.serca {
  font-size: 45px;
  color: var(--white);
}
.punkty {
  font-size: 35px;
  color: var(--white);
}
.wylosowany_kraj {
  font-size: 30px;
  color: var(--white);
}
/* glowne rzeczy do okienek */
.inside_popup_1 {
  background-color: rgba(0, 0, 0, 0.864);
  color: white;
  border-radius: 20px;
  border: 6px solid var(--white);
  font-family: system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.ok_btn {
  width: 90px;
}
/*popup alert okno*/
#alert_okno {
  background-color: #0000;
  border: 0px;
}
/* game over popup */
#game_over_okno {
  background-color: #0000;
  border: 0px;
  position: relative;
}
.tryby_gry_game_over {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.btns_game_over {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 100px;
  position: absolute;
  bottom: 180px;
}
.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 100px;
  position: absolute;
  top: 290px;
  font-size: 20px;
}
#h1_game_over {
  position: absolute;
  top: 60px;
  font-size: 60px;
}
#inside_alert_okno {
  width: 22vw;
  height: 22vh;
}
