body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
:root {
  /* kit do ciemnego wygladu mapy */
  --map_kit: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
  --white: whitesmoke;
  --bg_color: rgba(0, 0, 0, 0.884);
  --hover: #feff01;
}
.mapa {
  filter: var(--map_kit);
}
.flex_center_column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex_center_row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.start_btn {
  height: 60px;
  width: 250px;
  border-radius: 10px;
  font-size: 22px;
  padding: 5px;
  cursor: pointer;
  background-color: #0000;
  color: var(--white);
  border: 5px solid var(--white);
  font-family: system-ui;
  font-weight: bold;
  transition: color ease, border ease;
}
.start_btn:hover {
  color: var(--hover);
  border: 5px solid var(--hover);
}

#all {
  background-color: var(--bg_color);
  font-family: system-ui;
  height: 100vh;
  width: 100vw;
}
#menu {
  gap: 50px;
  width: 50vw;
  position: absolute;

  #opis {
    font-size: 25px;
    text-align: center;
    color: var(--white);
  }
  #title {
    font-size: 90px;
    letter-spacing: 4px;
    color: var(--white);
    margin: 0px;
  }
}

#main {
  height: 100vh;
  width: 100vw;
  gap: 35px;
  visibility: hidden;

  #pytanie {
    width: 90vw;
    gap: 190px;

    .wylosowany_kraj {
      font-size: 30px;
      color: var(--white);
    }

    .serca {
      font-size: 45px;
      color: var(--white);
    }
    .punkty {
      font-size: 35px;
      color: var(--white);
    }
  }

  #map {
    border: 8px solid var(--white);
    border-radius: 15px;
    width: 85vw;
    height: 75vh;
  }
}
#alert_okno {
  background-color: #0000;
  border: 0px;

  .ok_btn {
    width: 90px;
    height: 60px;
    border-radius: 10px;
    font-size: 22px;
    padding: 5px;
    cursor: pointer;
    background-color: #0000;
    color: lightgreen;
    border: 5px solid lightgreen;
    font-family: system-ui;
    font-weight: bold;
    transition: color ease, border ease;
  }
  .ok_btn:hover {
    color: var(--hover);
    border: 5px solid var(--hover);
  }

  #inside_alert_okno {
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.864);
    color: white;
    border-radius: 20px;
    border: 6px solid var(--white);
    font-family: system-ui;
    width: 15vw;
  }
}

#odp_okno {
  z-index: 3;
  background-color: #0000;
  border: 0px;

  #inside_odp_okno {
    padding: 20px;
    gap: 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 6px solid var(--white);
    font-family: system-ui;
    width: 90vw;
    height: 87vh;
  }

  #map2 {
    border: 8px solid red;
    border-radius: 15px;
    width: 85vw;
    height: 75vh;
  }

  .ok_odp_btn {
    width: 90px;
    height: 60px;
    border-radius: 10px;
    font-size: 22px;
    padding: 5px;
    cursor: pointer;
    background-color: #0000;
    color: red;
    border: 5px solid red;
    font-family: system-ui;
    font-weight: bold;
    transition: color ease, border ease;
  }
  .ok_odp_btn:hover {
    color: var(--hover);
    border: 5px solid var(--hover);
  }
}

#game_over_okno {
  background-color: #0000;
  border: 0px;

  #inside_game_over {
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.864);
    color: white;
    border-radius: 20px;
    border: 6px solid var(--white);
    font-family: system-ui;
    padding: 15px;
    width: 50vw;
    height: 46vh;
  }
  #game_over_buttons {
    gap: 20px;
  }
}
